/* app css stylesheet */

body {
  padding-top: 20px;
  background-color: lightgoldenrodyellow;
}

.phone-images {
  background-color: white;
  width: 450px;
  height: 450px;
  overflow: hidden;
  position: relative;
  float: left;
}

.phones {
  list-style: none;
}

.thumb {
  float: left;
  margin: -0.5em 1em 1.5em 0;
  padding-bottom: 1em;
  height: 100px;
  width: 100px;
}

.phones__btn-buy-wrapper {
  align-items: center;
  float: right;
  height: 100%;
  display: flex;
  margin: 0 1em;
}

.phones li {
  clear: both;
  height: 115px;
  padding-top: 15px;
}

/** Detail View **/
img.phone {
  float: left;
  margin-right: 3em;
  margin-bottom: 2em;
  background-color: white;
  padding: 2em;
  height: 400px;
  width: 400px;
  display: none;
}

img.phone:first-child {
  display: block;
}

ul.phone-thumbs {
  margin: 0;
  list-style: none;
}

ul.phone-thumbs li {
  border: 1px solid black;
  display: inline-block;
  margin: 1em;
  background-color: white;
}

ul.phone-thumbs img {
  height: 100px;
  width: 100px;
  padding: 1em;
}

ul.phone-thumbs img:hover {
  cursor: pointer;
}

ul.specs {
  clear: both;
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.specs > li{
  display: inline-block;
  width: 200px;
  vertical-align: top;
}

ul.specs > li > span{
  font-weight: bold;
  font-size: 1.2em;
}

ul.specs dt {
  font-weight: bold;
}

h1 {
  border-bottom: 1px solid gray;
}

.shoppingCart__list {
  padding: 0;
}

.shoppingCart__list li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  font-size: 12px;
}

.shoppingCart__img img {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 10px;
  margin-right: 10px;
}

.shoppingCart__name {
  flex: 1 0 15px;
}

.shoppingCart__list .fa-times-circle {
  margin-left: 5px;
  font-size: 14px;
  cursor: pointer;
}

.preloader {
  display: flex;
  height: 50vh;
  position: relative;
}

.preloader img {
  max-width: 350px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-60%);
}

.sidebar {
  height: 100vh;
}

.phone-basket {
  position: sticky;
  top: 20px;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.pagination select {
  border-radius: 5px;
  cursor: pointer;
  margin-right: 5px;
}

.pagination__btn {
  padding: 5px 10px;
  border: 1px solid black;
  margin: 5px;
  cursor: pointer;
  background-color: #e1e1e1;
}

.pagination ul {
  padding: 0;
  display: flex;
  justify-content: center;
}

.pagination li {
  display: block;
  padding: 5px 10px;
  border: 1px solid black;
  margin: 5px;
  cursor: pointer;
  background-color: #e1e1e1;
}

.pagination li.active {
  background-color: #919191;
}

.pagination__part_left {
  padding-left: 40px;
  display: flex;
  align-items: baseline;
}

.pagination__part_center {
  display: flex;
  align-items: baseline;
}